/* Reset */
@import url("reset.css");
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* ============================== */
/* ============================== */
body {
	/* font-size: 16px; */
	/* font-weight: 400; */
	font-family: "Roboto", sans-serif;;
	color: #fff;
	background-color: #000;
}
body._lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

::-webkit-scrollbar {
	background-color: hsl(228, 4%, 15%);
}
::-webkit-scrollbar-thumb {
	background-color: hsl(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 4%, 35%);
}

._anim-items {
	transform: translate(0px, 60%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
._anim-items._active {
	transform: translate(0px, 0%);
	opacity: 1;
}
/* ============================== */
/* ============================== */
.page__order,
.page__wedo,
.page__fast,
.page__profession,
.page__partners,
.page__training,
.page__teachers {
	position: relative;
	z-index: 2;
	background-color: #000;
}
@media (max-width: 991.98px) {
	.page__main::before { /* Виньетка */
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		box-shadow: inset 0 0 150px #000;
	}
	.page__main::after { /* Light */
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url("../img/main/light.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		animation: light 3s ease-in-out infinite;
	}
	/* Animations light */
	@keyframes light {
		0% {
			opacity: .4;
		}
		50% {
			opacity: .5;
		}
	
		100% {
			opacity: .4;
		}
	}
}
/* ============================== */
/* ============================== */
.button {
	display: block;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50px;
	text-align: center;
	padding: 10px 30px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: background .5s ease 0s;
}
.button::before {
	content: "";
	position: absolute;
	top: -200px;
	left: 25%;
	width: 200px;
	height: 800px;
	animation: button 30s linear infinite;
}
@media (max-width: 480px) {
	.content-order__button.button::before,
	.form-footer__button.button::before {
		width: 400px;
	}
}
.button span {
	position: relative;
}
@keyframes button {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.icon {
	width: 77px;
	height: 77px;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 991.98px) {
	.icon {
		width: 50px;
		height: 50px;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* =========== Header =========== */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	padding: 10px 0;
}
.header::before {
	content: "";
	position: fixed;
	width: 100%;
	height: 120px;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	opacity: 0;
	transition: all .5s ease 0s;
}
._active.header::before {
	opacity: 1;
}
.header__container {
	display: flex;
	min-height: 100px;
	align-items: center;
	column-gap: 58px;
	justify-content: space-between;
}
.header__logo {
	z-index: 5;
}
.header__logo img {
	width: 40px;
	height: 40px;
}
.header__content {
	display: flex;
	align-items: center;
	column-gap: 58px;
}
.header__menu {
	display: flex;
	flex: 1 1 auto;
}
.menu__body {
	align-self: center;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 58px;
}
.menu__item {
	position: relative;
}
.menu__link {
	line-height: 1.5;
	position: relative;
	transition: color .3s ease 0s;
	z-index: 5;
}
.menu__link:hover {
	color: #c89afc;
}
.menu__link::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: #c89afc;
	transition: width .3s ease 0s, left .3s ease 0s;
}
.menu__link:hover::after {
	width: 100%;
	left: 0%;
}

/* ====== Header Button Light ====== */
.menu__button {
	flex: 0 0 auto;
	background: #c89afc;
	font-weight: 400;
}
.menu__button:hover {
	background: #9369c3;
}
.menu__button::before {
	background: linear-gradient(90deg, transparent, #7c6afa, #7c6afa, #7c6afa, transparent);
}
.menu__button:hover::before {
	background: none;
}
.menu__icon {
	display: none;
}
@media (max-width: 1100px) {
	.header__container {
		column-gap: 40px;
	}
	.header__content {
		column-gap: 30px;
	}
	.menu__list {
		row-gap: 15px;
		column-gap: 30px;
	}
}
@media (max-width: 991.98px) {
	.header__container {
		min-height: 100px;
	}
}
@media (max-width: 767.98px) {
	.header::before {
		display: none;
	}
	.header__container {
		min-height: 70px;
		column-gap: 0px;
	}
	.header__content {
		column-gap: 15px;
	}
	.menu__list {
		flex-direction: column;
		align-items: center;
		row-gap: 40px;
	}
	.menu__link {
		font-size: 32px;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		flex: 0 0 30px;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all .4s ease 0s;
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: calc(50% - 1px);
	}
	.menu__icon._active span {
		width: 0;
	}
	.menu__icon._active::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu__icon._active::after {
		top: calc(50% - 1px);
		transform: rotate(45deg);
	}
	/* ========== Меню бургера ============ */
	.menu__body { /* Задний фон */
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 100px 30px 30px 30px;
		transition: left .4s ease 0s;
		overflow: auto;
	}
	.menu__body._active,
	.menu__body._active::after {
		left: 0;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 90px;
		z-index: 2;
		box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		opacity: 0;
		transition: all .5s ease 0s;
	}
	.header._active .menu__body::before {
		opacity: 1;
	}
	.menu__body::after {
		content: "";
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: -100%;
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
		background-color: rgba(0, 0, 0, .2);
		transition: left .4s ease 0s;
	}
	/* ======== Меню бургера ========= */
	.menu__item {
		z-index: 1;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* =========== Main =========== */
.main {
	min-height: 100vh;
}
.main__body {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 270px 0 0 0;
}
.main__container {
	position: relative;
	z-index: 2;
}
.main__title {
	max-width: 580px;
	font-weight: 700;
	font-size: 64px;
	line-height: 1.4;
}
.main__title:not(:last-child) {
	padding: 0 0 50px 0;
}
.count-time__items {
	display: flex;
	align-items: center;
	column-gap: 30px;
	text-align: center;
}
._active.count-time__item:nth-child(1) {
	transition: all .8s ease .2s;
}
._active.count-time__item:nth-child(2) {
	transition: all .8s ease .4s;
}
._active.count-time__item:nth-child(3) {
	transition: all .8s ease .6s;
}
._active.count-time__item:nth-child(4) {
	transition: all .8s ease .8s;
}
.count-time__item {
	position: relative;
	min-width: 120px;
	padding: 20px 30px;
	background: #121212;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,.8);
}
.count-time__item::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
}
.count-time__value {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.4;
}
.count-time__text {
	color: #717171;
}
@media (min-width: 992px) {
	.main__video,
	.main__image {
		display: none;
	}
	.parallax__images {
		position: absolute;
		width: 110%;
		height: 110%;
		top: -20%;
		left: -5%;
		z-index: 1;
	}
	.parallax__images::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.25);
		z-index: 5;
	}
	.images-parallax__item {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
	}
	.images-parallax-1,
	.images-parallax-2 {
		position: absolute;
		background-position: right;
	}
	.images-parallax-1 {
		background: url("../img/main/1.jpg") right / cover no-repeat;
		width: 95%;
		height: 95%;
		left: 2%;
		top: 15%;
	}
	.images-parallax-2 {
		width: 100%;
		height: 100%;
		left: -2%;
		top: 13%;
		background: url("../img/main/2.png") right / cover no-repeat;
		z-index: 2;
	}
}
@media (max-width: 991.98px) {
	.main__body {
		padding: 200px 0 0 0;
	}
	.main__video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		opacity: 0.6;
		z-index: 2;
	}
	.main__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0;
	}
	.main__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.main__title {
		font-size: 56px;
		max-width: none;
		text-align: center;
	}
	.count-time__items {
		justify-content: center;
	}
}
@media (max-width: 767.98px) {
	.main__body {
		padding: 160px 0 0 0;
	}
	.main__title {
		font-size: 40px;
	}
	.main__title:not(:last-child) {
		padding: 0 0 20px 0;
	}
	.count-time__items {
		row-gap: 15px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 480px) {
	.main__body {
		padding: 100px 0 0 0;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* =========== Order =========== */
.order {
	position: relative;
	background-color: #121212;
	padding: 36px 0;
	margin-top: -120px;
	z-index: 2;
}
.order__container {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.order__content {
	display: flex;
	column-gap: 94px;
}

.content-order {
	flex: 0 1 45%;
}
.content-order__button {
	flex: 0 0 auto;
	align-self: center;
	background: #df5950;
}
.content-order__button:hover {
	background: #9e3a32;
}
.content-order__button::before {
	background: linear-gradient(90deg, transparent, #451046, #451046, #451046, transparent);
}
.content-order__button:hover::before {
	background: none;
}
.content-order__item {
	display: flex;
}
.content-order__text {
	line-height: 1.5;
	color: #717171;
}
.content-order__text span {
	font-weight: 700;
	color: #fff;
	padding-left: 10px;
}

.order__stats {
	display: flex;
	flex-direction: column;
}

.stats-order {
	flex: 0 1 55%;
	width: 100%;
}
.stats-order__item {
	display: flex;
	column-gap: 10px;
}
.stats-order__item:nth-child(3) {
	justify-content: space-between;
}
.stats-order__text {
	line-height: 1.5;
	color: #717171;
}
.stats-order__value {
	font-weight: 700;
	line-height: 1.5;
}
.stats-order__outer-border {
	width: 100%;
	height: 6px;
	background-color: #fff;
	position: relative;
}
.stats-order__inner-border {
	width: 61.624%;
	height: 6px;
	background-color: #df5950;
	position: absolute;
	top: 0;
	left: 0; /* центрируем по горизонтали */
	z-index: 2;
	overflow: hidden;
}
.stats-order__inner-border::before {
	content: "";
	position: absolute;
	top: -100px;
	right: -50%;
	width: 100%;
	height: 200px;
	background: linear-gradient(90deg, transparent, #451046, #451046, #451046, transparent);
	animation: line 15s linear alternate infinite;
}
@keyframes line {
	0% {
		right: -70%;
	}
	100% {
		right: 60%;
	}
}
.stats-order__value-start,
.stats-order__value-end {
	line-height: 1.5;
	color: #717171;
}
@media (max-width: 1100px) {
	.order {
		padding: 30px 0;
		margin-top: -100px;
	}
	.order__container {
		flex-direction: column;
		align-items: start;
		row-gap: 20px;
	}
}
@media (max-width: 767.98px) {
	.order__content {
		column-gap: 40px;
		row-gap: 10px;
	}
}
@media (max-width: 480px) {
	.order {
		padding: 20px 0;
		margin-top: -140px;
	}
	.order__content {
		width: 100%;
		flex-direction: column;
	}
	.content-order__button {
		align-self: stretch;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ============ Wedo ============ */
.wedo {
	padding: 200px 0 100px 0;
}
.wedo__container {
	display: flex;
	column-gap: 130px;
	row-gap: 70px;
}
.wedo__item {
	flex: 1 1 45%;
	background-color: #000;
	position: relative;
}
.wedo__square {
	position: relative;
	padding-top: 100%;
}
._anim-items.wedo__square {
	transform: translate(-120%, 0px);
	transition: all .8s ease .2s;
}
._anim-items.wedo__square._active {
	transform: translate(0px, 0px);
}
.wedo__square span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	inset: 0;
	background: #c89afc;
	overflow: hidden;
}
.wedo__square span::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 90%;
	width: 1200px;
	height: 500px;
	background: linear-gradient(transparent, #7c6afa, #7c6afa, #7c6afa, transparent);
	animation: wedo 9s linear infinite;
}
@keyframes wedo {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.wedo__square span::after {
	content: "";
	position: absolute;
	inset: 30px;
	background: #000;
}
.wedo__image {
	position: relative;
	padding-top: 100%;
	margin-top: -87.5%;
}
._anim-items.wedo__image {
	transform: translate(-120%, 0px);
	transition: all .8s ease .4s;
}
._anim-items.wedo__image._active {
	transform: translate(0px, 0px);
}
.wedo__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.wedo__content {
	flex: 0 1 50%;
	align-self: center;
}
.wedo__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
}
.wedo__title:not(:last-child) {
	padding-bottom: 45px;
}
._anim-items.wedo__title {
	transform: translate(120%, 0px);
}
._anim-items.wedo__title._active {
	transform: translate(0px, 0px);
}
.wedo__text {
	line-height: 1.6;
}
._anim-items.wedo__text {
	transform: translate(120%, 0px);
	transition: all .8s ease .2s;
}
._anim-items.wedo__text._active {
	transform: translate(0px, 0px);
}
@media (max-width: 1300px) {
	.wedo__container {
		column-gap: 100px;
	}
}
@media (max-width: 1100px) {
	.wedo {
		padding: 100px 0 100px 0;
	}
	.wedo__container {
		column-gap: 30px;
	}
}
@media (max-width: 991.98px) {
	.wedo {
		padding: 70px 0 70px 0;
	}
	.wedo__item {
		align-self: center;
	}
	.wedo__title {
		font-size: 40px;
	}
	.wedo__title:not(:last-child) {
		padding-bottom: 20px;
	}
}
@media (max-width: 767.98px) {
	.wedo {
		padding: 30px 0 30px 0;
	}
	.wedo__container {
		row-gap: 30px;
	}
	
	.wedo__item {
		width: 300px;
		height: 300px;
	}
	.wedo__title {
		font-size: 36px;
	}
	.wedo__title:not(:last-child) {
		padding-bottom: 20px;
	}
	.wedo__container {
		flex-direction: column-reverse;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ============ Fast ============ */
.fast {
	padding: 100px 0 100px 0;
}
.fast__content {
	display: flex;
	align-items: center;
}
.fast__content:not(:last-child) {
	padding-bottom: 50px;
}
._anim-items.fast__content {
	transform: translate(-120%, 0px);
}
._anim-items.fast__content._active {
	transform: translate(0px, 0px);
}
.fast__header:not(:last-child) {
	padding-bottom: 80px;
}
.fast__icon {
	animation: fast-circle 7s linear infinite;
}
@keyframes fast-circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
.fast__title {
	position: relative;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
}
.fast__icon:not(:last-child) {
	margin: 0 40px 0 10px;
}
.fast__text {
	max-width: 420px;
	line-height: 1.6;
	color: #717171;
}
._anim-items.fast__text {
	transform: translate(-120%, 0px);
	transition: all .8s ease .2s;
}
._anim-items.fast__text._active {
	transform: translate(0px, 0px);
}
.fast__body._anim-items {
	transform: translate(0px, 0px);
}
.fast__item {
	display: flex;
}
.fast__value {
	flex: 0 1 25%;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.4;
	transform: translate(-120%, 0px);
	opacity: 0;
}
.fast__value:not(:last-child) {
	padding: 0 0 20px 0;
}
._active .fast__value {
	transform: translate(0, 0px);
	opacity: 1;
}
._active .fast__value:nth-child(1) {
	transition: all .8s ease .2s;
}
._active .fast__value:nth-child(2) {
	transition: all .8s ease .4s;
}
._active .fast__value:nth-child(3) {
	transition: all .8s ease .6s;
}
._active .fast__value:nth-child(4) {
	transition: all .8s ease .8s;
}
.fast__info {
	flex: 0 1 25%;
	font-size: 14px;
	line-height: 1.6;
	color: #717171;
	transform: translate(-120%, 0px);
	opacity: 0;
}
._active .fast__info {
	transform: translate(0, 0px);
	opacity: 1;
}
._active .fast__info:nth-child(1) {
	transition: all .8s ease .4s;
}
._active .fast__info:nth-child(2) {
	transition: all .8s ease .6s;
}
._active .fast__info:nth-child(3) {
	transition: all .8s ease .8s;
}
._active .fast__info:nth-child(4) {
	transition: all .8s ease 1s;
}
.fast__info:not(:last-child) {
	padding-right: 18px;
}

.fast__figures { /* 1300 80*/
	margin: 0 auto;
	position: relative;
	padding: 0px 0px 80px 0px;
	transform: translate(-120%, 0px);
	opacity: 0;
	transition: all .8s ease .0s;
}
.fast__figures:not(:last-child) {
	margin-bottom: 35px;
}
._active .fast__figures {
	transform: translate(0, 0px);
	opacity: 1;
}
.fast__square-1, 
.fast__square-2, 
.fast__square-3, 
.fast__square-4 {
	width: 25%; /* 324px = 25% */
	top: 0;
	left: 0;
	position: absolute;
	background: #c89afc;
	overflow: hidden;
} 
.fast__square-1 {
	height: 100%;  /* 80px = 100%*/
}
.fast__square-2 {
	height: 75%; /* 60px = 75%*/
	top: 12.5%; /* 10px = 12.5%*/
	left: 24.846%; /* 323px = 24.846%*/
}
.fast__square-3 {
	height: 37.5%; /* 30px = 37.5%*/
	top: 31.25%; /* 25px = 31.25% */
	left: 49.692%; /* 646px = 49.692% */
}
.fast__square-4 {
	height: 12.5%; /* 10px = 12.5%*/
	top: 43.75%;	/* 35px = 43.75% */
	left: 74.538%;	/* 969px = 74.538% */
}
.fast__square-1::before,
.fast__square-2::before,
.fast__square-3::before,
.fast__square-4::before {
	content: "";
	position: absolute;
	top: -300px;
	width: 400px;
	height: 800px;
	background: linear-gradient(90deg, transparent, #7c6afa, #7c6afa, #7c6afa, transparent);
	animation: fast-square 12s linear infinite;
}
.fast__square-1::before,
.fast__square-3::before {
	left: 30%;
}
.fast__square-2::before,
.fast__square-4::before {
	left: -60%;
}
@keyframes fast-square {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: translate(10%, 20%) rotate(10deg);
	}
	50% {
		transform: rotate(0deg);;
	}
	75% {
		transform: translate(10%, -20%) rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@media (max-width: 1200px) {
	.fast__square-1::before,
	.fast__square-2::before,
	.fast__square-3::before,
	.fast__square-4::before {
	width: 300px;
	}
}
@media (max-width: 991.98px) {
	.fast {
		padding: 70px 0 70px 0;
	}
	.fast__title {
		font-size: 40px;
	}
	.fast__content:not(:last-child),
	.fast__header:not(:last-child) {
		padding-bottom: 40px;
	}
	.fast__square-1::before,
	.fast__square-2::before,
	.fast__square-3::before,
	.fast__square-4::before {
	width: 200px;
	}
}
@media (max-width: 767.98px) {
	.fast {
		padding: 30px 0 30px 0;
	}
	.fast__title {
		font-size: 36px;
	}
	.fast__icon:not(:last-child) {
		margin: 0 30px 0 10px;
	}
	.fast__content:not(:last-child),
	.fast__header:not(:last-child) {
		padding-bottom: 30px;
	}
	.fast__figures {
		display: none;
	}
	.fast__item {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.fast__value {
		padding-bottom: 10px;
	}
	.fast__value:not(:last-child) {
		padding: 0;
	}
	.fast__info:not(:last-child) {
		padding-right: 0px;
		padding-bottom: 20px;
	}
	.fast-grid {
		transform: translate(-120%, 0px);
		opacity: 0;
	}
	._active .fast-grid {
		transform: translate(0%, 0px);
		opacity: 1;
	}
	._active .fast-grid:nth-child(5) {
		grid-row-start: 1;
		transition: all .8s ease 0s;
	}
	._active .fast-grid:nth-child(1) {
		transition: all .8s ease .2s;
	}
	._active .fast-grid:nth-child(6) {
		grid-row-start: 3;
		transition: all .8s ease .4s;
	}
	._active .fast-grid:nth-child(2) {
		transition: all .8s ease .6s;
	}
	._active .fast-grid:nth-child(7) {
		grid-row-start: 5;
		transition: all .8s ease .8s;
	}
	._active .fast-grid:nth-child(3) {
		transition: all .8s ease 1s;
	}
	._active .fast-grid:nth-child(8) {
		grid-row-start: 7;
		transition: all .8s ease 1.2s;
	}
	._active .fast-grid:nth-child(4) {
		transition: all .8s ease 1.4s;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ========= Profession ========= */
.profession {
	padding: 100px 0;
}
.profession__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
	text-align: center;
}
.profession__title:not(:last-child) {
	padding-bottom: 120px;
}
.profession__items {
	display: flex;
	justify-content: center;
	column-gap: 80px;
	row-gap: 30px;
	flex-wrap: wrap;
}
.profession__item {
	flex: 0 1 360px;
}
._anim-items.profession__item:nth-child(1) {
	transition: all .8s ease 0s;
}
._anim-items.profession__item:nth-child(2) {
	transition: all .8s ease .2s;
}
._anim-items.profession__item:nth-child(3) {
	transition: all .8s ease .4s;
}
.profession__image {
	display: flex;
	justify-content: center;
}
.profession__image img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.profession__image:not(:last-child) {
	padding-bottom: 60px;
}
.profession__sub-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.4;
	text-align: center;
}
.profession__sub-title:not(:last-child) {
	padding-bottom: 30px;
}
.profession__text {
	line-height: 1.6;
	text-align: center;
}
@media (max-width: 991.98px) {
	.profession {
		padding: 70px 0;
	}
	.profession__title {
		font-size: 40px;
	}
	.profession__title:not(:last-child) {
		padding-bottom: 60px;
	}
	.profession__image:not(:last-child) {
		padding-bottom: 40px;
	}
}
@media (max-width: 767.98px) {
	.profession {
		padding: 30px 0;
	}
	.profession__title {
		font-size: 36px;
	}
	.profession__title:not(:last-child),
	.profession__image:not(:last-child),
	.profession__sub-title:not(:last-child) {
		padding-bottom: 15px;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ========== Partners ========== */
.partners {
	padding: 100px 0;
}
.partners__header {
	display: flex;
}
._anim-items.partners__header {
	transform: translate(-120%, 0px);
	transition: all .8s ease 0s;
}
._active._anim-items.partners__header {
	transform: translate(0px, 0px);
}
.partners__header:not(:last-child) {
	padding-bottom: 60px;
}
.partners__icon {
	align-self: center;
	animation: partners-circle 7s linear infinite;
}
@keyframes partners-circle {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}
.partners__icon:not(:last-child) {
	margin: 0 50px 0 10px;
}
.partners__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
}
._anim-items.partners__swiper {
	transform: translate(-120%, 0px);
	transition: all .8s ease .2s;
}
._active._anim-items.partners__swiper {
	transform: translate(0px, 0px);
}
.partners__swiper-wrapper {
	display: flex;
	align-items: center;
}
.partners__swiper-slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	object-fit: cover;
}
.partners__swiper .partners__swiper-wrapper {
	transition-timing-function: linear;
}
@media (max-width: 991.98px) {
	.partners {
		padding: 70px 0;
	}
	.partners__title {
		font-size: 40px;
	}
	.partners__header:not(:last-child) {
		padding-bottom: 40px;
	}
}
@media (max-width: 767.98px) {
	.partners {
		padding: 30px 0;
	}
	.partners__title {
		font-size: 36px;
	}
	.partners__icon:not(:last-child) {
		margin: 0 30px 0 10px;
	}
	.partners__header:not(:last-child) {
		padding-bottom: 30px;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ========== Training ========== */
.training {
	padding: 100px 0;
}
.training__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.training__header:not(:last-child) {
	padding-bottom: 80px;
}
.training__icon {
	animation: training-circle 7s linear infinite;
}
@keyframes training-circle {
	0% {
		transform: rotate(225deg);
	}
	100% {
		transform: rotate(-135deg);
	}
}
.training__icon:not(:last-child) {
	margin: 0 0 76px 0;
}
.training__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
	text-align: center;
	transform: translate(0px, 120%);
	opacity: 0;
}
._anim-items .training__title {
	transition: all .8s ease .2s;
}
._active._anim-items .training__title {
	transform: translate(0px, 0%);
	opacity: 1;
}
.training__title:not(:last-child) {
	padding-bottom: 30px;
}
.training__text {
	margin: 0px auto;
	max-width: 420px;
	line-height: 1.6;
	text-align: center;
	color: #717171;
	transform: translate(0px, 120%);
	opacity: 0;
}
._anim-items .training__text {
	transition: all .8s ease .4s;
}
._active._anim-items .training__text {
	transform: translate(0px, 0%);
	opacity: 1;
}
.training__body {
	position: relative;
	width: 100%;
}
.timeline-training {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	max-width: 620px;
}
.timeline-training__date {
	font-size: 14px;
	line-height: 1.6;
	color: #717171;
}
.timeline-training__date:not(:last-child) {
	padding-bottom: 15px;
}
.timeline-training__title {
	font-size: 18px;
	line-height: 1.6;
}
@media (max-width: 991.98px) {
	.training {
		padding: 70px 0;
	}
	.training__header:not(:last-child) {
		padding-bottom: 60px;
	}
	.training__icon:not(:last-child) {
		margin: 0 0 20px 0;
	}
	.timeline-training__date:not(:last-child) {
		padding-bottom: 15px;
	}
	.training__title:not(:last-child) {
		padding-bottom: 20px;
	}
}
@media (min-width: 768px) {
	/* .training__body {
		height: 650px;
	} */
	.timeline-gradient {
		content: '';
		position: absolute;
		height: 100%;
		width: 6px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #c89afc;
		overflow: hidden;
	}
	.timeline-gradient::before {
		content: '';
		position: absolute;
		height: 200px;
		width: 400px;
		left: -200px;
		top: 0;
		transform: rotate(-90deg);
		background: linear-gradient(90deg, transparent, #7c6afa, #7c6afa, #7c6afa, transparent);
		animation: timeline 12s linear infinite;
	}
	@keyframes timeline {
		0% {
			top: 0;
		}
		50% {
			top: 100%;
		}
		100% {
			top: 0;
		}
	}
	.timeline-training__item {
		position: relative;
		width: 50%;
	}
	.timeline-training__item:nth-child(odd) {
		float: left;
		clear: right;
		text-align: end;
		transform: translateX(-60px);
	}
	.timeline-training__item:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(60px);
	}
	.timeline-training__item::before {
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		top: 0;
		background-color: #4C4C4C;
	}
	.timeline-training__item:nth-child(odd)::before {
		right: -57px;
		top: 55%;
	}
	.timeline-training__item:nth-child(5)::before {
		top: 50px;
	}
	.timeline-training__item:nth-child(even)::before {
		left: -57px;
		top: 55%;
	}
	.timeline-training__item:nth-child(6)::before {
		top: 50px;
	}
	._active.timeline-training__content:nth-child(2) {
		transition: all .8s ease 2s;
	}
}
@media (max-width: 767.98px) {
	.training {
		padding: 30px 0;
	}
	.training__header:not(:last-child) {
		padding-bottom: 40px;
	}
	.training__icon:not(:last-child) {
		margin: 0 0 15px 0;
	}
	.timeline-training__date:not(:last-child) {
		padding-bottom: 10px;
	}
	.timeline-training__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.timeline-training__item:not(:last-child) {
		padding-bottom: 30px;
	}
	.timeline-training__date {
		font-size: 18px;
		text-align: center;
	}
	.timeline-training__title {
		font-size: 20px;
		text-align: center;
	}
	/* .timeline-training__item {
		opacity: 0;
		transform: translate(0px, 60%);
	}
	._anim-items.timeline-training__item {
		transform: translate(0px, 0px);
		transition: all .8s ease 0s;
	}
	._active._anim-items.timeline-training__item {
		transform: translate(0px, 0px);
		opacity: 1;
	} */
	._anim-items.timeline-training__item:nth-child(1) {
		transition: all .8s ease 0s;
	}
	._anim-items.timeline-training__item:nth-child(2) {
		transition: all .8s ease .1s;
	}
	._anim-items.timeline-training__item:nth-child(3) {
		transition: all .8s ease .2s;
	}
	._anim-items.timeline-training__item:nth-child(4) {
		transition: all .8s ease .3s;
	}
	._anim-items.timeline-training__item:nth-child(5) {
		transition: all .8s ease .4s;
	}
	._anim-items.timeline-training__item:nth-child(6) {
		transition: all .8s ease .5s;
	}
	._anim-items.timeline-training__item:nth-child(7) {
		transition: all .8s ease .6s;
	}
	._anim-items.timeline-training__item:nth-child(8) {
		transition: all .8s ease .7s;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* ========== Teachers ========== */
.teachers {
	padding: 100px 0;
}
.teachers__header {
	display: flex;
	align-items: center;
}
.teachers__header:not(:last-child) {
	padding-bottom: 110px;
}
._anim-items.teachers__header {
	transform: translate(-120%, 0px);
}
._active._anim-items.teachers__header {
	transform: translate(0px, 0px);
}
.teachers__icon img {
	animation: teachers-circle 7s linear infinite;
}
@keyframes teachers-circle {
	0% {
		transform: rotate(135deg);
	}
	100% {
		transform: rotate(-225deg);
	}
}
.teachers__icon:not(:last-child) {
	margin: 0 40px 0 10px;
}
.teachers__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
}
.content-teachers__items {
	display: flex;
	column-gap: 12px;
	row-gap: 30px;
	justify-content: center;
}
.content-teachers__item {
	flex: 0 1 32%;
}
.content-teachers__avatar {
	display: flex;
	justify-content: center;
	transform: scale(0);
	transition: all .8s ease 0s;
}
.content-teachers__item._active .content-teachers__avatar {
	transform: scale(1);
}
.content-teachers__avatar img {
	width: 190px;
	height: 190px;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 50%;
}
.content-teachers__avatar:not(:last-child) {
	padding-bottom: 40px;
}
.content-teachers__name {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.4;
	text-align: center;
	opacity: 0;
	transition: all .8s ease .2s;
}
.content-teachers__item._active .content-teachers__name {
	opacity: 1;
}
.content-teachers__name:not(:last-child) {
	padding-bottom: 15px;
}
.content-teachers__speciality {
	line-height: 1.6;
	text-align: center;
	color: #717171;
	opacity: 0;
	transition: all .8s ease .4s;
}
.content-teachers__item._active .content-teachers__speciality {
	opacity: 1;
}
.content-teachers__speciality:not(:last-child) {
	padding-bottom: 30px;
}
.content-teachers__button {
	width: 132px;
	font-weight: 400;
	border: 1px solid #fff;
	border-radius: 50px;
	margin: 0px auto;
	opacity: 0;
	transition: opacity .8s ease .6s, background-color .5s ease 0s, color .5s ease 0s;
}
.content-teachers__item._active .content-teachers__button {
	opacity: 1;
}
.content-teachers__button:hover {
	background-color: #fff;
	color: #000;
}
@media (max-width: 991.98px) {
	.teachers {
		padding: 70px 0;
	}
	.teachers__header:not(:last-child) {
		padding-bottom: 70px;
	}
	.teachers__title {
		font-size: 40px;
	}
	.content-teachers__avatar:not(:last-child) {
		padding-bottom: 30px;
	}
}
@media (max-width: 767.98px) {
	.teachers {
		padding: 30px 0;
	}
	.teachers__header:not(:last-child) {
		padding-bottom: 30px;
	}
	.teachers__icon:not(:last-child) {
		margin: 0 30px 0 10px;
	}
	.teachers__title {
		font-size: 36px;
	}
	.content-teachers__items {
		flex-direction: column;
	}
	.content-teachers__avatar:not(:last-child) {
		padding-bottom: 10px;
	}
	.content-teachers__name:not(:last-child) {
		padding-bottom: 10px;
	}
	.content-teachers__speciality:not(:last-child) {
		padding-bottom: 15px;
	}
}
/* ============================== */
/* ============================== */

/* ============================== */
/* =========== Footer =========== */
.footer {
	position: relative;
	z-index: 2;
	background-color: #000;
	padding: 100px 0 30px 0;
}
.content-footer {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.content-footer:not(:last-child) {
	padding-bottom: 40px;
}
.content-footer__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 1.4;
	text-align: center;
}
.content-footer__title:not(:last-child) {
	padding-bottom: 30px;
}
.content-footer__text {
	max-width: 420px;
	line-height: 1.6;
	text-align: center;
	color: #717171;
}
.content-footer__text:not(:last-child) {
	padding-bottom: 60px;
}
.form-footer {
	display: flex;
	width: 100%;
	max-width: 465px;
}
.form-footer__input {
	flex: 1 1 475px;
	width: 100%;
	min-height: 44px;
	font-size: 14px;
	border-radius: 50px;
	line-height: 1.6;
	color: #fff;
	background: #404040;
	padding: 10px 143px 10px 30px;
}
.form-footer__input::placeholder {
	color: #CCCCCC;
}
.form-footer__button {
	flex: 1 1 133px;
	margin-left: -132px;
	background: #df5950;
}
.form-footer__button:hover {
	background: #9e3a32;
}
.form-footer__button::before {
	background: linear-gradient(90deg, transparent, #451046, #451046, #451046, transparent);
}
.form-footer__button:hover::before {
	background: none;
}
.social-footer {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}
.social-footer:not(:last-child) {
	padding-bottom: 50px;
}
.social-footer__item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50px;
	height: 50px;
	background: #c89afc;
	border-radius: 50px;
	cursor: pointer;
	transition: background .5s ease 0s;
	overflow: hidden;
}
.social-footer__item:hover {
	background: #9369c3;
}
.social-footer__item::before {
	content: "";
	position: absolute;
	top: -300%;
	left: 15%;
	width: 200px;
	height: 400px;
	background: linear-gradient(90deg, transparent, #7c6afa, #7c6afa, #7c6afa, transparent);
	animation: button 18s linear infinite;
}
.social-footer__item:hover::before {
	background: none;
}
.social-footer__item img {
	position: relative;
	width: 24px;
	height: 24px;
}
.footer__copy {
	line-height: 1.6;
	text-align: center;
	color: #CCCCCC;
}
@media (max-width: 991.98px) {
	.footer {
		padding: 70px 0 30px 0;
	}
	.content-footer__title:not(:last-child) {
		padding-bottom: 30px;
	}
	.content-footer__text:not(:last-child) {
		padding-bottom: 40px;
	}
	.content-footer:not(:last-child) {
		padding-bottom: 30px;
	}
	.social-footer:not(:last-child) {
		padding-bottom: 40px;
	}
}
@media (max-width: 767.98px) {
	.footer {
		padding: 30px 0 30px 0;
	}
	.content-footer__title:not(:last-child) {
		padding-bottom: 20px;
	}
	.content-footer__text:not(:last-child) {
		padding-bottom: 30px;
	}
	.social-footer:not(:last-child) {
		padding-bottom: 30px;
	}
}
@media (max-width: 480px) {
	.form-footer {
		flex-direction: column;
		row-gap: 10px;
	}
	.form-footer__input {
		flex: 1 1 auto;
		padding: 10px 30px 10px 30px;
	}
	.form-footer__button {
		flex: 1 1 auto;
		margin-left: 0;
	}
}